<h2> The Beatles </h2>

<h2> Queen </h2>

<button (click)="goHome()"> Home Page </button>

<section class="media">
  <img [src]="image" alt="The Beatles Channel">
</section>
<div class="text">
  <p>
    The Beatles were undoubtedly the most influential band of the century. In a course
    of 8 years, they changed not only rock and roll, but also the face of all music
    forever.
  </p>
  <p>
    On July 6, 1957, John Lennon, the leader of a band called the Quarry Men, was
    introduced to Paul McCartney, through a mutual friend, Ivan Vaughan, at Woolton
    Parish Church, where the Quarry Men were scheduled to perform. Impressed by
    McCartney's ability to play and tune a guitar, Lennon soon asked McCartney to join
    the Quarry Men. McCartney accepted. Shortly after McCartney joined the group, he
    began to recommend an old school friend to Lennon. Lennon refused to even audition
    this friend because he was only 14. However Lennon finally relented, and on February
    6, 1958 (19 days short of his 15th birthday) he auditioned George Harrison. After
    playing Raunchy Harrison became the newest member of the group.
  </p>
</div>

<section class="media">
  <iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>
</section>
