<h1> The Beatles </h1>

<iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>

<p>
  The Beatles were undoubtedly the most influential band of the century. In a course
  of 8 years, they changed not only rock and roll, but also the face of all music
  forever.
</p>
<p>
  On July 6, 1957, John Lennon, the leader of a band called the Quarry Men, was
  introduced to Paul McCartney, through a mutual friend, Ivan Vaughan, at Woolton
  Parish Church, where the Quarry Men were scheduled to perform. Impressed by
  McCartney's ability to play and tune a guitar, Lennon soon asked McCartney to join
  the Quarry Men. McCartney accepted. Shortly after McCartney joined the group, he
  began to recommend an old school friend to Lennon. Lennon refused to even audition
  this friend because he was only 14. However Lennon finally relented, and on February
  6, 1958 (19 days short of his 15th birthday) he auditioned George Harrison. After
  playing Raunchy Harrison became the newest member of the group.
</p>
<p>
  The group went through several names. They adopted names such as the Johnny and the
  Moondogs, The Silver Beetles, The Beatals, The Silver Beatles, and eventually The
  Beatles. As well as several names, the band went through several members, the more
  noteworthy of these would be John Lennon's closest friend Stuart (Stu) Sutcliffe -
  born June 23, 1940, Edinburgh, Scotland, dead April 10, 1962, Hamburg, Germany -
  (on bass guitar) and Pete Best - born 1941, Liverpool, England - (the drummer
  before Ringo).
</p>
<img [src]="image" alt="The Beatles Channel">

<button (click)="goHome()"> Home Page </button>
