<h2> Queen </h2>

<button (click)="goHome()"> Home Page </button>

<section class="media">
  <img [src]="image" alt="Queen">
</section>
<div class="text">
  <p>
    The epitome of pomp-rock in the Seventies and Eighties, Queen rocked radio and
    sports stadiums alike with booming, highly produced anthems like "We Are the
    Champions" and "We Will Rock You." Onstage, the English quartet used elaborate
    sets smoke bombs, and flashpots — none of which were quite as captivating as the
    band's lead singer, Freddie Mercury, whose preening and over-the-top vocals helped
    make Queen wildly popular.
  </p>
  <p>
    Queen's roots go back to 1967, when guitarist Brian May and drummer Roger Taylor
    joined singer Tim Staffell in a group called Smile. Staffell soon left to go solo,
    and the remaining two Smiles teamed up with Freddie Mercury (from a group called
    Wreckage) and later bassist John Deacon. They played very few gigs at the start,
    avoiding the club circuit and rehearsing for two years while they all remained in
    college. (May began work on a Ph.D. in astronomy; Taylor has a degree in biology;
    Deacon, a degree in electronics; and Mercury had one in illustration and design.)
    They began touring in 1973, when their debut album was released. After a second LP,
    the band made its U.S. tour debut, opening for Mott the Hoople.
  </p>
  <p>
    Queen's sound combined showy glam rock, heavy metal, and intricate vocal harmonies
    produced by multi-tracking Mercury's voice. May's guitar was also thickly overdubbed.
    A Night at the Opera included "God Save the Queen" rendered as a chorale of lead
    guitar lines. (Until 1980's The Game, the quartet's albums boasted that "no synths"
    were used.) Queen's third LP, 1974's Sheer Heart Attack, featured "Killer Queen,"
    its first U.S. Top Twenty hit. The LP also became its first U.S. gold.
  </p>
</div>

<section class="media">
  <iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>
</section>
